@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}


<div class="ui horizontal divider titulo-locacao">
       <p> Beauty Shape Duo HTM - Criolipólise de Contraste </p>
    </div>

<div class="produto-locacao">
    <div>
        <img src="~/assets/image/produto locacao/teste1.png"/>
    </div>

    <div>
        <div class="texto-locacao">
            <p> O HTM Beauty Shape Duo é um equipamento com controle totalmente digital, que através de microcontrolador incorpora as mais recentes tecnologias para geração e controle de temperatura externa positiva e negativa, com finalidades estéticas para a redução não invasiva do panículo adiposo, além de ter sido desenvolvido também para trabalhar com vários aplicadores individualmente.Conta ainda com display touch screen de 8” no equipamento e display de 3,5” disponível nos aplicadores, com interface amigável, fácil, e que proporciona completa visualização dos parâmetros aplicados oferecendo maior precisão e manutenção dos parâmetros de tratamentos pré-estabelecidos. Possui ainda os sistemas: Double Protect que é um duplo sistema de controle da temperatura de aplicação e o i-Check que é um sistema automático de verificação da integridade do equipamento.  </p>
        </div>

    <div> 
        <div class="vetor-locacao">
            <img src="~/assets/image/locacao/icones/timer.png"/>
            <p>Tempo Minímo de Locação</p>
      
            <img src="~/assets/image/locacao/icones/curso.png"/>
            <p>Curso do Equipamento Incluso</p>
    
            <img src="~/assets/image/locacao/icones/maps.png"/>
            <p>Raio de até 400km de Florianópolis</p>
        </div>

        <div class="field">
            <button class="ui button red" >
              <a class= "botaowhats" href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20">
                Quero Locar
                </a>
            </button>
        </div>
        </div>
    </div>
</div>

<div class="ui container fluid newsletter-bar newsletter-bar-locacao">
    <div class="ui container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <div class="ui form">
                        <div class="inline fields margin none">
                            <div class="field">
                                <span>
                                    <img src="~/assets/image/locacao/saibamais.png" />
                                </span>
                            </div>
                            <div class="field textNews">
                                <span class="text">
                                    Quer saber mais sobre Beauty Shape Duo? Cadastre-se e receba todas as informações no seu e-mail.
                                </span>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" placeholder="seu@email.com.br" id="email_news">
                                </div>
                            </div>
                            <div class="field">
                                <button class="ui button red" id="btn_news">
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

     
<div class="texto-locacao">
     <h1>Indicações</h1>
</div>

<div class="texto-locacao">
     <p> Gordura localizada;
Gordura localizada com ênfase em celulite;
Gordura localizada com ênfase em criodermadstringo;
Diferenciais e benefícios
Ajuste totalmente independente dos aplicadores. Não é preciso aguardar uma aplicação terminar para alterar qualquer parâmetro e/ou iniciar outra aplicação. O HTM Beauty Shape Duo possibilita a alteração de protocolos, temperatura de aquecimento e resfriamento, pressão e modo de vácuo a qualquer momento — total versatilidade;
2 telas completas, simultâneas e com a mesma facilidade de operação que fizeram do Beauty Shape líder em tecnologia e praticidade no mercado; 11 protocolos pré-programados, criolipólise convencional e de contraste, além de diversos e novos aplicadores especialmente desenvolvidos para todas as regiões de tratamento, garantindo maior eficácia e conforto.

Tem controle totalmente digital, que através de microcontrolador, incorpora as mais recentes tecnologias para geração e controle de temperatura externa positiva e negativa, com finalidades estéticas para a redução não invasiva do adipócito.

Display touch screen de 8” no equipamento e display de 3,5” disponível nos aplicadores, com interface amigável, fácil, e que proporciona completa visualização dos parâmetros aplicados, oferecendo maior precisão e manutenção dos parâmetros de tratamentos pré-estabelecidos.

Double Protect que é um duplo sistema de controle da temperatura de aplicação e o i-Check que é um sistema automático de verificação da integridade do equipamento.</p>
</div>

<div class="texto-locacao">
    <h1>Contraindicações</h1>
</div>

<div class="texto-locacao">
> Área de sangramento recente;
> Artrite reumatoide;
> Cicatriz na região;
> Comprometimento circulatório periférico;
> Crioglobulinemia;
> Dermatites e eczemas;

> Diabetes;
> Doença de Reynaud;
> Doenças autoimunes;
> Esteatose hepática;
> Excesso de gordura visceral;
> Fator reumatoide positivo;
> Feridas abertas ou infectadas;
> Flacidez de pele após grande perda ponderal de peso;
> Gravidez;
> Hemoglobinúria paroxística ao frio;
> Hepatite C;
> Hérnia na região;
> Hipovitaminose D;
> Imunodeficiência adquirida (AIDS);
> Infecções aguda e crônica;
> Lactação;
> Lipoaspiração ou qualquer outro procedimento cirúrgico na área nos últimos 6 meses;
> Lúpus Eritematoso Sistêmico;
> Neoplasia ou tumor;
> Neuralgia pós-herpética;
> Obesidade;
> Prega mínima inferior a 2,0 cm;
> Síndrome de Sjögren;
> Tratamento medicamentoso para infertilidade;
> Urticária ao frio.
</div>

<div class="texto-locacao">
<h1>Caractetísticas</h1>
</div>

<div class="texto-locacao">
Marca: HTM

Modelo: Criolipólise com Dois Aplicadores

ANVISA: 80212480025

Aquecimento: Entre 40ºC, regulável até 60ºC;
Congelamento: Até -11ºC, possibilitando maior número de protocolos;
Elimina até 42% de gordura localizada na primeira sessão;
Sistema de drenagem automático ou personalizado;
Protocolos pré-definidos e possibilidade de Personalizar/Salvar procotolos;
Resfriamento comprovadamente eficaz;
O equipamento possui um display touch screen;
Exclusivo sistema Double Protect (Duplo sistema de controle de temperatura de aplicação);
Exclusivo sistema de I-Check (Sistema automático de verificação da integridade do equipamento);
Potência máxima é de 600VA;
Consumo máximo de 0,6kwh de energia;
Registro Anvisa 80212480025

</div>

