@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

    <div class="banner-locacao">
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-banner-locacao">
            <img src="~/assets/image/locacao/banner2.png" />
    </div>

    <div class="ui horizontal divider titulo-locacao">
       <p> Aluguel de Equipamentos para o estado de Santa Catarina </p>
    </div>

    <div class="equipamentos-locacao">
        <a href="https://rentalmed.com.br/hotsite/beautyshapeduo_locacao" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/beautyshapeduo.png" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/body.png" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/criodermis.png" />
        </a>
         <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/dermovac.png" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/hygiaplasmas.png" />
        </a>
         <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/vanquish.png" />
         </a>   
    </div>

    <div class="equipamentos-locacao">
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/galaxy.png" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/hertix.png" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/herus.png" />
        </a>
         <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/hygia.png" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/medio.png" />
        </a>
        </a>
        <a href="https://api.whatsapp.com/send?phone=5548988453915&text=Ol%C3%A1%2C%20estou%20no%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20loca%C3%A7%C3%A3o%20de%20equipamentos!%20" class="b-equipamentos-locacao">
            <img src="~/assets/image/locacao/teka.png" />
        </a>
    </div>
    

    <div class="ui container fluid newsletter-bar newsletter-bar-locacao">
    <div class="ui container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <div class="ui form">
                        <div class="inline fields margin none">
                            <div class="field">
                                <span>
                                    <img src="~/assets/image/locacao/saibamais.png" />
                                </span>
                            </div>
                            <div class="field textNews">
                                <span class="text">
                                    Cadastre seu e-mail e saiba mais sobre a locação de nossos equipamentos.
                                </span>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" placeholder="seu@email.com.br" id="email_news">
                                </div>
                            </div>
                            <div class="field">
                                <button class="ui button red" id="btn_news">
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


<div class="texto-locacao">
    <p>Trabalhamos com locação de equipamentos para estética e fisioterapia em toda Florianópolis e um raio de até 400km da capital. Entregamos equipamento montado, pronto para funcionamento. Oferecemos treinamento para equipamentos locados. Tempo mínimo para locação de 04 horas para Florianópolis e cidades próximas e de 06 horas para demais cidades. Consulte valores e disponibilidade dos equipamentos pelo numero (48) 9 9181-4393.  </p>
</div>

<div class="texto-locacao"> 
    <p> *Nossos entregadores técnicos não são autorizados a fazer  treinamento dos equipamentos. </p>
</div>

<div class="texto-locacao">
    <p> **O treinamento só é agendado após contrato de locação assinado. </p>
</div>

<div class="texto-locacao"> 
    <p> ***Valor de frete dos equipamentos muda de acordo com a cidade para qual foi locado. </p>
</div>